[package]
name = "steven"
version = "0.0.1"
authors = [ "Thinkofdeath <thinkofdeath@spigotmc.org>" ]

[profile.dev]
# Steven runs horrendously slow with no optimizations, and often freezes.
# However, building with full -O3 optimizations takes too long for a debug build.
# Use an -O1 optimization level strikes a good compromise between build and program performance.
opt-level = 1

[dependencies]
sha1 = "0.6.0"
sdl2 = "0.31.0"
byteorder = "1.2.6"
hyper = "0.8.0"
serde = "0.7.0"
serde_json = "0.7.0"
flate2 = "1.0.2"
zip = "0.4.2"
image = "0.7.0"
rand = "0.3.14"
rustc-serialize = "0.3.24"
log = "0.4.5"
cgmath = "0.7.0"
lazy_static = "1.1.0"
collision = {git = "https://github.com/TheUnnamedDude/collision-rs", rev = "f80825e"}
openssl = "0.7.8"
# clippy = "*"

[dependencies.steven_gl]
path = "./gl"
version = "0"

[dependencies.steven_resources]
path = "./resources"
version = "0"

[dependencies.steven_blocks]
path = "./blocks"
version = "0"

[dependencies.steven_shared]
path = "./shared"
version = "0"
