[package]
name = "stevenarella"
version = "0.0.1"
authors = [ "Thinkofdeath <thinkofdeath@spigotmc.org>", "iceiix <ice_ix@protonmail.ch>" ]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/main.rs"

[profile.dev]
# Steven runs horrendously slow with no optimizations, and often freezes.
# However, building with full -O3 optimizations takes too long for a debug build.
# Use an -O1 optimization level strikes a good compromise between build and program performance.
opt-level = 1

[dependencies]
cfg-if = "0.1.2"
wasm-bindgen = "0.2.33"
sha-1 = "0.8.1"
glutin = { git = "https://github.com/iceiix/glutin", rev = "bb8ce243c8725411509b6ba359357530a26247e9" }
byteorder = "1.2.7"
serde = "1.0.88"
serde_json = "1.0.38"
flate2 = { version = "1.0.6", features = ["rust_backend"], default-features = false }
zip = { version = "0.5.0", features = ["deflate"], default-features = false }
image = "0.21.0"
rand = "0.5.5"
hex = "0.3.2"
base64 = "0.10.1"
log = { version = "0.4.6", features = ["std"] }
cgmath = "0.16.1"
lazy_static = "1.3.0"
collision = "0.19.0"
aes = "0.3.2"
cfb8 = "0.3.1"
rsa_public_encrypt_pkcs1 = "0.2.0"
clipboard = { git = "https://github.com/aweinstock314/rust-clipboard", rev = "07d080be58a361a5bbdb548fafe9449843d968be" }
# clippy = "*"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
reqwest = "0.9.10"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.1"

[dependencies.steven_gl]
path = "./gl"
version = "0"

[dependencies.steven_resources]
path = "./resources"
version = "0"

[dependencies.steven_blocks]
path = "./blocks"
version = "0"

[dependencies.steven_shared]
path = "./shared"
version = "0"
