[package]
name = "stevenarella"
version = "0.0.1"
authors = [ "Thinkofdeath <thinkofdeath@spigotmc.org>", "iceiix <ice_ix@protonmail.ch>" ]
edition = "2018"

[profile.dev]
# Steven runs horrendously slow with no optimizations, and often freezes.
# However, building with full -O3 optimizations takes too long for a debug build.
# Use an -O1 optimization level strikes a good compromise between build and program performance.
opt-level = 1

[dependencies]
sha-1 = "0.8.1"
glutin = "0.19.0"
byteorder = "1.2.7"
reqwest = "0.9.10"
serde = "1.0.89"
serde_json = "1.0.38"
flate2 = { version = "1.0.6", features = ["rust_backend"], default-features = false }
zip = { version = "0.5.0", features = ["deflate"], default-features = false }
image = "0.21.0"
rand = "0.5.5"
hex = "0.3.2"
base64 = "0.10.1"
log = { version = "0.4.6", features = ["std"] }
cgmath = "0.16.1"
lazy_static = "1.3.0"
collision = "0.19.0"
aes = "0.3.2"
cfb8 = "0.3.1"
rsa_public_encrypt_pkcs1 = "0.2.0"
clipboard = "0.5.0"
# clippy = "*"

[dependencies.steven_gl]
path = "./gl"
version = "0"

[dependencies.steven_resources]
path = "./resources"
version = "0"

[dependencies.steven_blocks]
path = "./blocks"
version = "0"

[dependencies.steven_shared]
path = "./shared"
version = "0"
