[package]
name = "steven_protocol"
version = "0.0.1"
authors = [ "Thinkofdeath <thinkofdeath@spigotmc.org>", "iceiix <ice_ix@protonmail.ch>" ]
edition = "2018"

[dependencies]
serde = "1.0.104"
serde_json = "1.0.45"
hex = "0.4.0"
sha-1 = "0.8.2"
aes = "0.3.2"
cfb8 = "0.3.2"
byteorder = "1.3.2"
log = { version = "0.4.8", features = ["std"] }
flate2 = { version = "1.0.13", features = ["rust_backend"], default-features = false }
num-traits = "0.2.10"

[dependencies.steven_shared]
path = "../shared"
version = "0"

[dependencies.std_or_web]
path = "../std_or_web"
version = "0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
reqwest = { version = "0.10.1", features = [ "blocking" ]}
